body{
    color: white;
    font-size: 2em;
    font-family: sans-serif;
}

.my-article{
    background-color: blueviolet;
    padding: 20px;
}

.my-div{
    background-color: plum;
    padding: 20px;
    margin: 10px;
}

.my-button{
    background-color: darkorange;
    font-size: 1.5em;
}